.snakemake/
*.o*
*.e*
results/test_data/simulated_sce.rds
results/test_data/power_analysis_split/
results/test_data/power_analysis_output.tsv
results/test_data/power_analysis_plots_files/
results/test_data/logs/
simulation/num_trt_*/RDA_objects/
simulation/num_trt_*/config/
simulation/num_trt_*/resources/
simulation/num_trt_*/workflow/
simulation/num_trt_*/snakemake_profiles/
simulation/num_trt_*/run_snakemake.sh
simulation/num_trt_*/results/test_data/simulated_sce.rds
simulation/num_trt_*/results/test_data/power_analysis_split/
simulation/num_trt_*/results/test_data/power_analysis_output.tsv
simulation/num_trt_*/results/test_data/power_analysis_plots_files/
simulation/num_trt_*/results/test_data/logs/

# Keep timing files
!simulation/num_trt_*/simulation_timing.log
